button > a {
    color: white;
    text-decoration: none;
}

button {
    border: none;
    border-radius: 4px;
}

.staff-photo {
    width: 2.5in;
    height: 2.5in;
    object-fit: cover;
    object-position: center;
}


